<div class="container">
    <br>
    <form action="/api/restaurants/jay" method="get"> 
        <input type="search" name="title" placeholder="Enter ID">
        <input type="search" name="titlee" placeholder="Enter TITLE">
        <input type="search" name="titleee" placeholder="Enter ISBN">
        <input type="search" name="titleeee" placeholder="Enter AUTHOR">
        <input type="search" name="titleeeee" placeholder="Enter DESCRIPTION">
        <a href="jay">Contact Page</a>
    <input type="submit" value="Submit">
</form> 
</div> 
