<div class="container">
    <br>
    <form action="/api/restaurants/pageInfo" method="get">
  <div class="form-group">
    <label>Enter Page</label>
    <input type="text" class="form-control" name="page" placeholder="Page">
    <small id="emailHelp" class="form-text text-muted">Information of the selected page.</small>
  </div>
  <div class="form-group">
    <label>Enter perPage</label>
    <input type="text" class="form-control" name="perPage" placeholder="perPage">
  </div>
    <div class="form-group">
    <label>Enter Borough</label>
    <input type="text" class="form-control" name="borough" placeholder="Borough">
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>
</form>

</div> 
