<div class="container">
<br>
<div class="card">
  <div class="card-header">
    User does not exists!
  </div>
  <div class="card-body">
    <p class="card-text">Wanna create an account ?</p>
    <a href="/api/restaurants/users/signinform" class="btn btn-primary">Create account</a>
    <a href="/api/restaurants" class="btn btn-primary">Home Page</a>
  </div>
</div>
</div>
