<div class="container">
    <br>
    <form action="/books/inserting" method="get"> 
        <input type="search" name="title" placeholder="Enter ID">
        <input type="search" name="title" placeholder="Enter TITLE">
        <input type="search" name="title" placeholder="Enter ISBN">
        <input type="search" name="title" placeholder="Enter AUTHOR">
        <input type="search" name="title" placeholder="Enter DESCRIPTION">
      
    <input type="submit" value="Submit">
</form> 
</div> 



