<div class="container">
<br>
<div class="card">
  <div class="card-header">
    Password does not match!
  </div>
  <div class="card-body">
    <p class="card-text">Wanna try it again ?</p>
    <a href="/api/restaurants/users/loginform" class="btn btn-primary">Try again</a>
    <a href="/api/restaurants" class="btn btn-primary">Home Page</a>
  </div>
</div>
</div>
