<div class="container">
    <br>
    <form action="title" method="get"> 
        <input type="search" name="title" placeholder="Enter TITLE">
    <input type="submit" value="Submit">
</form> 
</div> 
