<div class="container">
<br>
<div class="card">
  <div class="card-header">
    Congratulations!
  </div>
  <div class="card-body">
    <h5 class="card-title">You are Welcome</h5>
    <p class="card-text">Account has been created</p>
    <a href="/api/restaurants/users/loginform" class="btn btn-primary">Login</a>
    <a href="/api/restaurants" class="btn btn-primary">Home Page</a>
  </div>
</div>
</div>
