<div class="container">
    <br>
    <a href="/api/restaurants/users/signinform" class="btn btn-primary btn-lg btn-block" type="button">Sign In</a>
    <a href="/api/restaurants/users/loginform" class="btn btn-secondary btn-lg btn-block" type="button">Log In</a>
</div>
